<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="SerialPortListener.Properties.Settings.truckConnectionString" connectionString="User Id=postgres;Password=postgres;Host=localhost;Database=truck;Character Set=UTF8;Initial Schema=public" providerName="Devart.Data.PostgreSql" />
		<add name="SerialPortListener.Properties.Settings.ConnectionString" connectionString="Dsn=PostgreSQLM" providerName="System.Data.Odbc" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-17.0.0.0" newVersion="17.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>